<!--The container belows contains the header image/ carousel/gif for the page-->
<section>
  <img src="assets/Images/Railin.jpg" class="logo"/>
  <h1>Products</h1>
</section>

<!--Products-->
<section>
  <div>
    <div>
      <img src="assets/Images/op.jpeg" class="logo" />
      <h2>GLASS</h2>
    </div>
    <div>
      <p>Partitioning for offices, hospitals restaurants, shower cubicles, frameless doors, Automatic doors. Frameless staircases.</p>
    </div>
  </div>
  <div>
    <div>
      <img src="assets/Images/ALMINIUM.jpeg" class="logo"/>
      <h2>ALMINIUM</h2>
    </div>
    <div>
      <ul>
        <li>Framing for doors and windows,</li>
        <li>Hinges</li>
        <li>Rails</li>
      </ul>
    </div>
  </div>
  <div>
    <div>
      <img src="assets/Images/rail2.jpeg" class="logo"/>
      <h2>RAILINGS</h2>
    </div>
    <div>
      <p>High grade stainless steel for staircase, shelter and other related purposes.</p>
    </div>
  </div>
</section>

<!--Get Quote color bottom border of section purple-->
<section>
  <p>Send us your specificaion</p>
  <p>and</p>
  <a>GET A QUOTE</a>
</section>

<!--General-->
<section>
  <div>
    <div>
      <p>We work with other materials as well. Contact us and let’s know what your need.</p>
    </div>
    <div>
      <img src="assets/Images/consultation.svg" class="logo"/>
    </div>
  </div>
</section>







