<!--The container belows contains the header image/ carousel/gif for the page-->
<div class="pageBanner" style="background: url(assets/Images/Railin.jpg);">
  <div class="container text-center">
    <h1>Products</h1>
  </div>
</div>

<!--Products-->
<div class="container contentTransparent">
  <div class="row">
    <div class="col-sm-4 centered">
      <div class="productCard">
      <img src="assets/Images/op.jpeg" class="productPic">
      <p class="pad-30">Partitioning for offices, hospitals restaurants, shower cubicles, frameless doors, Automatic doors. Frameless staircases.</p>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="productCard">
      <img src="assets/Images/ALMINIUM.jpg" class="productPic">
      <ul class="pad-30">
        <li>Framing for doors and windows,</li>
        <li>Hinges</li>
        <li>Rails</li>
      </ul>
    </div>
    </div>
    <div class="col-sm-4 centered">
      <div class="productCard">
      <img src="assets/Images/rail2.jpeg" class="productPic">
      <p class="pad-30">High grade stainless steel for staircase, shelter and other related purposes.</p>
    </div>
    </div>
  </div>
</div>



<!--Get Quote color bottom border of section purple-->
<div class="container-fluid contentPurple centered pad-30">
  <h2>Send us your specificaion</h2>
  <h2>and</h2>
  <h2> <a>GET A QUOTE</a></h2>
  
</div>

<!--General-->

<div class="container-fluid contentLined">
  <div class="row">
    <div class="col-sm-9 centered pad-30">
      <p style="font-size: 2.5rem; font-style: oblique;">We work with other materials as well. Contact us and let’s know what your need.</p>
    </div>
    <div class="col-sm-3 centered">
      <img src="assets/Images/consultaion.svg" class="homeImg"/>
      
    </div>
  </div>
</div>







