<!--The container belows contains the header image/ carousel/gif for the page-->
<div class="pageBanner" style="background: url(assets/Images/Railin.jpg);">
  <div class="container text-center">
    <h1>Products</h1>
  </div>
</div>

<!--Products-->
<div class="container contentTransparent">
  <div class="row">
    <div class="col-sm-4 centered">
      <div class="productCard">
      <img src="assets/Images/op.jpeg" class="productPic">
      <h2 class="productHeader">Glass</h2>
      <p class="pad-sm">Partitioning for offices, hospitals restaurants, shower cubicles, frameless doors, Automatic doors. Frameless staircases.</p>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="productCard ">
      <img src="assets/Images/ALMINIUM.jpg" class="productPic">
      <h2 class="centered productHeader">Aluminium</h2>
      <ul class="" style="padding:10px 30px;">
        <li><i class="fa-li fa fa-square"></i>Framing for doors and windows</li>
        <li><i class="fa-li fa fa-square"></i>Hinges</li>
        <li><i class="fa-li fa fa-square"></i>Rails</li>
      </ul>
    </div>
    </div>
    <div class="col-sm-4 centered">
      <div class="productCard">
      <img src="assets/Images/rail2.jpeg" class="productPic">
      <h2 class="productHeader">Railings</h2>
      <p class="pad-sm">High grade stainless steel for staircase, shelter and other related purposes.</p>
    </div>
    </div>
  </div>
</div>



<!--Get Quote color bottom border of section purple-->
<div class="container-fluid contentPurple centered pad-30 colorWh">
  <h2>Send us your specification</h2>
  <h2>and</h2>
  <h2> <a href="#" class="productQuote" data-toggle="modal" data-target="#productModal">GET A QUOTE</a></h2>
  
</div>

<!--General-->

<div class="container-fluid">
  <div class="row pad-30">
    <div class="col-sm-9 centered pad-30">
      <p style="font-size: 2.5rem; font-style: oblique;">We work with other materials as well. <br> Contact us and let’s know what your need.</p>
    </div>
    <div class="col-sm-3 centered">
      <img src="assets/Images/consultaion.svg" class="valuesImg"/>
      
    </div>
  </div>
</div>

 <!-- The Modal -->
 <div class="modal fade" id="productModal">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <a href="#/!">
          <img src="assets/Images/logo.JPG" class="modal-logo">
      </a>
  
        <h2 class="">Request for a Product</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="container pad-30">
        <div class="row">
            <form action=" " method="post">
              <div class="row pad-sm">
                <div class="col-sm-3">
                  <label for="fname">Name:</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" id="fname">
                </div>
              </div>
      
              <div class="row pad-sm">
                <div class="col-sm-3">
                  <label for="Cname">Company:</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" id="Cname">
                </div>
              </div>
      
              <div class="row pad-sm">
                <div class="col-sm-3">
                  <label for="cMail">Email:</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" id="cMail">
                </div>
              </div>
      
              <div class="row pad-sm">
                <div class="col-sm-3">
                  <label for="cNumber">Contact Number:</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" id="cNumber">
                </div>
              </div>
      
              <div class="row pad-sm">
                <div class="col-sm-3">
                  <label for="rType">Request Type:</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" id="rType">
                </div>
              </div>
      
              <div class="row pad-sm">
                <div class="col-sm-3">
                  <label for="rSumm">Request Summary:</label>
                </div>
                <div class="col-sm-9">
                  <textarea name="rSumm" rows="10" cols="60"></textarea>
                </div>
              </div>
      
              <div class="centered pad-30">
                <input type="submit" value="Submit">
              </div>
            </form>
        </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>







