<!--The container belows contains the header image/ carousel/gif for the page-->
<section>
  <img src="assets/Images/glassdoors.jpeg" class="logo">
  <h1>WHO WE ARE</h1>
</section>

<!--Vision & Mission-->
<section>
  <h2>BACKGROUND</h2>
  <p>GAR Technical system is a company that deals with super standard glass, aluminum and railings.
    We have over the years been working assiduously to give world class services to our numerous clients.
    With our manufacturing partners in Turkey.
    We deliver high quality services and goods the to maximum satisfaction of our clients.
  </p>
</section>

<!--Vision Mission color bottom border of section green-->
<section>
  <table style="width:100%">
    <tr>
      <th>Our Vision</th>
      <th>Our Mission</th>
    </tr>
    <tr>
      <td>'Ensuring a difference to our buildings  through  new design and application of glass, aluminum and railing'</td>
      <td>To be the global leader in innovative high performance in aluminum, railings, glass and glazing solutions, ensuring high quality products and services for  homes, hotels, offices that can stand the test of time.</td>
    </tr>
  </table>
</section>

<!--Values-->
<section>
  <h2>Our Values</h2>
  <div>
    <img src="assets/Images/Trust.png" class="Trust">
    <p>Trust</p>
  </div>
  <div>
    <img src="assets/Images/Respect.png" class="Trust">
    <p>Respect</p>
  </div>
  <div>
    <img src="assets/Images/integrity.svg" class="Trust">
    <p>Integrity</p>
  </div>
  <div>
    <img src="assets/Images/Team.svg" class="Trust">
    <p>Team Oriented</p>
  </div>
  <div>
    <img src="assets/Images/creative.svg" class="Trust">
    <p>Creative</p>
  </div>
  <div>
    <img src="assets/Images/Resilience.svg" class="Trust">
    <p>Resilience</p>
  </div>
</section>

<!--Gallery section should have all the images in the image folder as a carousel-->
<section>
  <div>
    <img src="assets/Images/pygar.jpeg" class="logo">
    <img src="assets/Images/merald.jpeg" class="logo">
    <img src="assets/Images/smri.JPG" class="logo">
  </div>
</section>




