<!--The container belows contains the header image/ carousel/gif for the home page-->
<div class="pageBanner" style="background: url(assets/Images/fh3.jpg);">
  <div class="container text-center">
    <h1>Covid-19 and GAR</h1>
  </div>
</div>

<!--Vision statement-->
<section>
  <h2 class="tagline">We are committed to providing the best!!!</h2>
</section>

<!--Summary of products and services-->
<div class="container-fluid contentPurple">
  <div class="row">
    <div class="col-sm-7">
    	<div class="row">
        	<div class="col centered"><h2>Our Products</h2></div>
        </div>
    	  <div class="row">
    		<div class="col-sm-4 centered">
          <img src="assets/Images/glassdoors.jpeg" class="homeImg">
          <h4>Glass</h4>
        </div>
    		<div class="col-sm-4  centered">
          <img src="assets/Images/ALMINIUM.jpg" class="homeImg">
          <h4>Aluminium</h4>
        </div>
    		<div class="col-sm-4 centered">
          <img src="assets/Images/rail2.jpeg" class="homeImg">
          <h4>Railings</h4>
        </div>
  			</div>
    </div>
    <div class="col-sm-5">
    	<div class="row">
        	<div class="col centered"><h2>Our Services</h2></div>
        </div>
    	  <div class="row">
    		<div class="col-sm-6 centered">
          <img src="assets/Images/H1.jpeg" class="homeImg">
          <h4>Installation</h4>
        </div>
    		<div class="col-sm-6 centered">
          <img src="assets/Images/consultaion.svg" class="homeImg">
          <h4>Consultation/Quote</h4>
        </div>
  			</div>
    </div>
  </div>
</div>

<!--lIST OF CUSTOMERS (Note: color section border bottom green)-->
<div class="container-fluid contentTransparent">
  <div class="row">
    <div class="col-sm-3 centered" style="padding-top: 30px;">
      <h2>Our Customers</h2>
      <p>Properly satisfied</p>
    </div>
    <div class="col-sm-3 centered">
      <img src="assets/Images/pygar.jpeg" class="squarePic">
    </div>
    <div class="col-sm-3 centered">
      <img src="assets/Images/merald.jpeg" class="squarePic">
    </div>
    <div class="col-sm-3 centered">
      <img src="assets/Images/smri.JPG" class="squarePic">
    </div>
  </div>
</div>

<!--Director's speech-->
<div class="container-fluid contentLined">
  <div class="row">
    <div class="col-sm-3 centered">
      <img src="assets/Images/boss.jpg" class="squarePic">
    </div>
    <div class="col-sm-9 centered">
      <h2>From the Director</h2>
      <p style="font-size: 1.2rem; font-style: oblique;">“We at GAR strive to do our best in delivering our products and services to the standard and satisfaction of our customers bearing in mind the safety of us all.
        We do wish all our customers good health as we go through this pandemic.”
      <br><span style="font-weight:900;">Thank you</span>
      </p>
    </div>
  </div>
</div>



