<!--Contact form-->
<section>
  <form action=" " method="post">
    <label for="fname">Name:</label><br>
    <input type="text" id="fname"><br><br>

    <label for="Cname">Company:</label><br>
    <input type="text" id="Cname"><br><br>

    <label for="cMail">Email:</label><br>
    <input type="text" id="cMail"><br><br>

    <label for="cNumber">Contact Number:</label><br>
    <input type="text" id="cNumber"><br><br>

    <label for="rType">Request Type:</label><br>
    <input type="text" id="rType"><br><br>

    <label for="rSumm">Request Summary:</label><br>
    <textarea name="rSumm" rows="10" cols="30"></textarea>

    <input type="submit" value="Submit">
  </form>
</section>
