    <a class="navbar-brand" href="#/!">
        <img src="assets/Images/logo.JPG" class="logo">
    </a>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about-us">Who we are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Contacts">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


