<!--The container belows contains the header image/ carousel/gif for the page-->
<section>
  <img src="assets/Images/services.jpg" class="logo"/>
  <h1>Services</h1>
</section>

<!--Products-->
<section>
  <div>
    <div>
      <img src="assets/Images/Fabrication.svg" class="logo"/>
      <h2>FABRICATION</h2>
    </div>
    <div>
      <p>We fabricate aluminum for windows, doors and partitions in the offices or stalls, curtain wall and claddings.</p>
    </div>
  </div>
  <div>
    <div>
      <img src="assets/Images/installation.png" class="logo"/>
      <h2>INSTALLATION</h2>
    </div>
    <div>
      <P>We perform installation of glass, aluminum and railings.</P>
    </div>
  </div>
  <div>
    <div>
      <img src="assets/Images/consultation.svg" class="logo"/>
      <h2>CONSULTATION</h2>
    </div>
    <div>
      <p>We provide high quality consultation services with the focus on directing the customer rightly. We visit the construction sites and take provide insight for a little token.</p>
    </div>
  </div>
</section>

<!--Request a service-->
<section>
  <a>Request a service</a>
</section>









