<!--The container belows contains the header image/ carousel/gif for the page-->
<div class="pageBanner" style="background: url(assets/Images/services.jpg);">
  <div class="container text-center">
    <h1>Services</h1>
  </div>
</div>

<div class="container contentTransparent">
  <div class="row">
    <div class="col-sm-4 centered">
      <div class="productCard">
      <img src="assets/Images/Fabrication.svg" class="servicesPic">
      <h2 class="cardHeader pad-sm">Fabrication</h2>
      <p class="pad-sm">We fabricate aluminum for windows, doors and partitions in the offices or stalls, curtain wall and claddings.</p>
    </div>
    </div>
    <div class="col-sm-4 centered">
      <div class="productCard" style="border-color:#70ad47">
      <img src="assets/Images/installation.png" class="servicesPic" style="border-color:#636ea6">
      <h2 class="cardHeader pad-sm" style="border-color: #70ad47;">Installation</h2>
      <p class="pad-sm">We perform installation of glass, aluminum and railings.</p>
    </div>
    </div>
    <div class="col-sm-4 centered">
      <div class="productCard">
      <img src="assets/Images/consultaion.svg" class="servicesPic">
      <h2 class="cardHeader pad-sm">Consultation</h2>
      <p class="pad-sm">We provide high quality consultation services with the focus on directing the customer rightly. We visit the construction sites and take provide insight for a little token.</p>
    </div>
    </div>
  </div>
  <div class="centered pad-30">
      <h2><a href="#" class="">Request a service</a></h2>
  </div>
</div>









