<!--section image-->
<div class="pageBanner" style="background: url(assets/Images/contacts.jpg);">
  <div class="container text-center">
    <h1>Contact Us</h1>
  </div>
</div>

<!--Contact form-->
<div class="container pad-30">
  <div class="row">
    <div class="col-sm-8">
      <form action=" " method="post">
        <div class="row pad-sm">
          <div class="col-sm-3">
            <label for="fname">Name:</label>
          </div>
          <div class="col-sm-9">
            <input type="text" id="fname">
          </div>
        </div>

        <div class="row pad-sm">
          <div class="col-sm-3">
            <label for="Cname">Company:</label>
          </div>
          <div class="col-sm-9">
            <input type="text" id="Cname">
          </div>
        </div>

        <div class="row pad-sm">
          <div class="col-sm-3">
            <label for="cMail">Email:</label>
          </div>
          <div class="col-sm-9">
            <input type="text" id="cMail">
          </div>
        </div>

        <div class="row pad-sm">
          <div class="col-sm-3">
            <label for="cNumber">Contact Number:</label>
          </div>
          <div class="col-sm-9">
            <input type="text" id="cNumber">
          </div>
        </div>

        <div class="row pad-sm">
          <div class="col-sm-3">
            <label for="rType">Request Type:</label>
          </div>
          <div class="col-sm-9">
            <input type="text" id="rType">
          </div>
        </div>

        <div class="row pad-sm">
          <div class="col-sm-3">
            <label for="rSumm">Request Summary:</label>
          </div>
          <div class="col-sm-9">
            <textarea name="rSumm" rows="10" cols="60"></textarea>
          </div>
        </div>

        <div class="centered">
          <input type="submit" value="Submit">
        </div>
      </form>
      </div>
      <div class="col-sm-4">
        <div class="contentPurple pad-sm">
        <p>66 Buari street, Mushin, Lagos, Nigeria.</p>
        <br />
        <p>+234 802 362 5051</p>
        <p>+234 705 246 5999</p>
        <br />
        <p>gartechnicalsys@gmail.com</p>
        </div>
      </div>
</div>

