<div class="container-fluid contentPurple" style="box-shadow: 0px -3px 11px 1px rgba(0,0,0,0.6);">
  <div class="row">
    <div class="col-sm-4 centered">
      <h4 class="footerHeaders">Physical Address</h4>
      <p class="footerNotes"><i class="fa fa-map-marker"></i>66 Buari street, Mushin, Lagos, Nigeria.</p>
      <h4 class="footerHeaders">Tel:</h4>
      <p class="footerNotes"><i class="fa fa-phone"></i>+234 802 362 5051</p>
      <p class="footerNotes"><i class="fa fa-phone"></i>+234 705 246 5999</p>
    </div>
    <div class="col-sm-5 centered"></div>
    <div class="col-sm-3 centered">
      <h4 class="footerHeaders">Email</h4>
      <p class="footerNotes"><i class="fa fa-envelope"></i>gartechnicalsys@gmail.com</p>
      <h4 class="footerHeaders">Social Media</h4>
      <a href=""><img src="assets/Images/whatsapp.png"  class="footerImage"/></a>
      <a href=""><img src="assets/Images/twitter.png" class="footerImage" /></a>
      <a href=""><img src="assets/Images/instagram.png" class="footerImage" /></a>
    </div>
  </div>
  <div class="centered">
    <p class="copyright"><i class="fa fa-copyright"></i> <a href="#" class="noDecoration">opefum Tech Limited</a> , 2020</p>
  </div>
</div>

