<app-nav-bar></app-nav-bar>
<!--The container belows contains the header image/ carousel/gif for the home page-->
<section>

</section>

<!--Vision statement-->
<section>
  <h2>We are committed to providing the best!!!</h2>
</section>

<!--Summary of products and services-->
<section>
  <table style="width:100%">
    <tr>
      <th colspan="3">Products</th>
      <th colspan="2">Services</th>
    </tr>
    <tr>
      <td><img src="assets/Images/glassdoors.jpeg" class="logo"></td>
      <td><img src="assets/Images/ALUMINIUM.jpg" class="logo"></td>
      <td><img src="assets/Images/rail2.jpeg" class="logo"></td>
      <td><img src="assets/Images/H1.jpeg" class="logo"></td>
      <td><img src="assets/Images/consultation.svg" class="logo"></td>
    </tr>
    <tr>
      <td>GLASS</td>
      <td>ALUMINIUM</td>
      <td>RAILINGS</td>
      <td>INSTALLATION</td>
      <td>CONSULTATION/QUOTE</td>
    </tr>

  </table>
</section>
<!--lIST OF CUSTOMERS (Note: color section border bottom green)-->
<section>
  <div>
    <h2>Our Customers</h2>
    <p>Properly satisfied</p>
  </div>
  <div>
    <img src="assets/Images/pygar.jpeg" class="logo">
    <img src="assets/Images/merald.jpeg" class="logo">
    <img src="assets/Images/smri.JPG" class="logo">
  </div>
</section>
<!--Vision statement-->
<div>
  <div><img src="assets/Images/boss.jpg" class="logo"></div>
  <h2>From the Director</h2>
  <p>“We at GAR strive to do our best in delivering our products and services to the standard and satisfaction of our customers bearing in mind the safety of us all.
    We do wish all our customers good health as we go through this pandemic.
    Thank you”
    </p>
</div>
<!--Insert footer here-->
<app-footer></app-footer>
